

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.App {
    width: 1440;
    display: flex;
    justify-content: center;
}
.home {
    
    display: flex;
    justify-content: center;
}

.nav {
    // width: 256px;
    // background-color: #FDFDFD;
    background-color: teal;

}

.nav__drawer {
    background-color: teal;
}

.hero {
    width: 677px;
    background-color: #FDFDFD;
    padding-top: 47px;
    padding-right: 23px;
    padding-bottom: 32px;
    padding-left: 34px;

    &__title {
        margin-bottom: 29px;
    }

    &__img {
        width: 620px;
        height: 405px;
        background-color: #2F3CED;
        border-radius: 24px;
    }
}
.aside {
    width: 506px;
    background-color: #F5FBFF;
}

.title {
    padding-top: 49px;
    padding-right: 106px;
    padding-bottom: 57px;
    padding-left: 42px;
    // font-family: 'Cormorant Garamond', serif;
}

.list-item {
    height: 56px;
}

